#wrapper {
    display: flex;
    flex-direction: row;
}

.image {
    height: 50px;
    width: auto;
 
}

.imageOnRight {
    height: 50px;
    width: auto;
    align-content: end;

}

figure {
    height: 100%;
}

.searchBar {
    overflow: hidden;
    margin: auto;
}

.searchBar input[type=text] {
    float: right;
  padding: 6px;
  border: 2px solid;
  border-color: #949e96;
  font-size: 16px;
}

.centerRight {
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.textOnRight {
    text-align: end;
    width: 150px;

}