@tailwind base;
@layer base {
  html {
    @apply noto-sans;
  }
}
@tailwind components;
@tailwind utilities;

footer{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  
  .noto-sans {
    @apply font-normal not-italic;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
  }
  